.categories-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 2rem 0;
  }
.categories-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    padding: 3rem 0;
}
.title{
    text-align: center;
    font-size: 3.5rem;
    font-weight: 700;
}
.image-container {
    position: relative;
    display: inline-block;
    overflow: hidden;
    border-radius: .7rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
  .image-container > img{
    min-width: 100%;
    height: 400px;
   
   
  }
  .image-container:hover img {
    transform: scale(1.1); /* Resmi 1.1 kat büyütme */
  }
  .caption {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    background-color:transparent;
    color: white;
    font-weight: 700;
    font-size: 1.2rem;
    padding: 5px;
    transition: background-color 0.3s;
  }
  
  .show-all-button {
	background:hsl(278, 68%, 11%);
	border: none;
	padding: 15px 20px;
	color:hsl(0, 0%, 100%);
	cursor: pointer;
	border-radius: 6px;
	font-size: 18px;
  }
  
  .show-all-button:hover {
	opacity: 0.9;
  }
  
  hr{
    width: 100%;
    color: white;
  }