.container{
    width: 90%;
}
.detay-sayfası{
    display: flex;
    justify-content: space-between;
    margin: 2rem 0;
    gap: 1rem;
}
.detay-kutusu{
    border: 0.1rem solid #dbdbdb;
    border-radius: .8rem;
    padding: 1.4rem 2rem 2.6rem;
    position: relative;
}
.info-title{
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 3rem;
}
.title-subtitle{
    display: block;
    color: #737373;
    font-size: .6em;
}
.info-subfields{
    display: flex;
    align-items: center;
    gap: .5rem;
}
.subfields-field{
  font-size: 1rem;
  margin: .5rem 0;
}
.field-icon{
    margin-right: .5rem;
}

.btn-primary {
	background:hsl(278, 68%, 11%);
	border: none;
	padding: 15px 20px;
	color:hsl(0, 0%, 100%);
	cursor: pointer;
	border-radius: 6px;
	font-size: 18px;
    margin-top: 2.2rem;
  }
  
  .btn-primary:hover {
	opacity: 0.9;
  }

  .sol-kolon{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .detaylar > ul{
    list-style: disc inside;
    font-size: 1.2rem;
    line-height: 2em;
  }

  .detaylar{
    margin-top: 5rem;
  }
  hr{
    width: 100%;
  }
.sağ-kolon{
    border-radius: 1rem;
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .container {
      width: 90%; /* Ekranın genişliğini biraz daraltabilirsiniz */
  }
  .info-subfields{
    display: flex;
   flex-direction: column;
   align-items: flex-start;
}
  .info-title {
      font-size: 2rem; /* Başlık font boyutunu küçült */
  }

  .title-subtitle {
      font-size: 0.5em; /* Alt başlık font boyutunu küçült */
  }

  .btn-primary {
      font-size: 16px; /* Buton font boyutunu küçült */
      margin-top: 1.2rem; /* Buton margin'ını azalt */
  }

  .detaylar > ul {
      font-size: 1.2rem; /* Liste font boyutunu küçült */
  }

  .sağ-kolon {
      width: 100%; /* Sağ kolonun genişliğini küçült */
      border-radius: 1rem;
  }

  .sağ-kolon img {
      width: 100%; /* Resmi tam genişlik yap */
      border-radius: 1rem;
  }

  .subfields-field {
      font-size: .8rem; /* subfields-field içindeki yazı boyutunu küçült */
  }
}

/* 768px ve daha küçük ekranlar için */
@media only screen and (max-width: 768px) {
  .container {
      width: 100%; /* Ekranın tam genişliğini kapla */
  }
  .detay-kutusu{
    margin:  0 auto;
}

  .info-title {
      font-size: 2rem; /* Başlık font boyutunu biraz daha küçült */
  }

  .title-subtitle {
      font-size: 0.4em; /* Alt başlık font boyutunu küçült */
  }

  .btn-primary {
      font-size: 14px; /* Buton font boyutunu küçült */
      margin-top: 1rem; /* Buton margin'ını azalt */
  }

  .detaylar > ul {
      font-size: 1rem; /* Liste font boyutunu küçült */
  }

  .sağ-kolon {
      display: none; /* Sağ kolonu gizle */
  }  

}