/* CSS dosyanızda */
footer {
    background-color: #ff3131;
    text-align: center;
    width: 100%;
}

.footer-container {
    padding: 1rem 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.links a {
    margin-right: 20px;
    text-decoration: none;
    color: #333;
}
