.nav-link {
  margin: 0 1rem;
  color: #FFF6E0;
  position: relative;
  padding-bottom: 2px;
}

.nav-link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: #FFF6E0;
    transition: width 0.3s ease;
  }
  .nav-link:hover::after {
      width: 100%;
  }